# Игнорирование папки с зависимостями
node_modules/

# Игнорирование временных файлов и кеша
.id/
.cache/

# Игнорирование файлов блокировки зависимостей
package-lock.json

# Игнорирование логов
*.log

# Кеш сборки
dist/
